<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="io.subs.android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name=".SubsApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:screenOrientation="portrait"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:fullBackupContent="@xml/backup_descriptor"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".views.screens.add_subscription.AddSubscriptionActivity">

        </activity>
        <activity android:name=".views.screens.login.LoginActivity">
        </activity>
        <activity android:name=".views.screens.main_screen.MainActivity"/>
        <activity
                android:name=".views.screens.create_subscriptions.CreateSubscriptionActivity"
                android:theme="@style/AppTheme.SlideTransition"/>
        <activity
                android:name=".views.screens.splash.SplashScreenActivity"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".views.screens.settings.SettingActivity"/>

        <receiver android:name="io.subs.data.controllers.network.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"
                        tools:ignore="BatteryLife"/>
            </intent-filter>
        </receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c57330a8bb25b00e8e397513dd4de8ea367bca94" />
    </application>
</manifest>